<!-- views/partials/header.ejs -->

<link href="css/header.css" rel="stylesheet" type="text/css">

<ul class="header">
  <li><a href="/">Home</a></li>
  <li><a href="/clothes">Clothes</a></li>
  <li><a href="/what_to_wear">What to Wear Today?</a></li>
</ul>