<!-- views/pages/error.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body class="container">

    <main>
        <div class="jumbotron" style="text-align: center">
            <h4><i><%= msg %></i></h1>
            <a href="/">Go Home!</a>
        </div>
    </main>

</body>
</html>

